/* General Styles */
body {
  font-family: "Funnel Display", serif;
  background: url('arcadePattern.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

a {
  color: #dfdfdf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Fonts */
#banner-text {
  font-family: 'Press Start 2P', cursive;
  color: rgb(230, 230, 230); /* White text */
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba(184, 0, 0, 0.658);
}

h2, .section h2 {
  font-family: 'Rock Salt', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: pulseColor 3s infinite;
  font-weight: 700;
  text-transform: uppercase;
}

/* Colors and Sections */
#currentlyPlaying { color: rgb(255, 255, 255); }
#recentlyPlayed { color: rgb(255, 148, 41) !important;}
#topArtists { color: rgb(252, 255, 58) !important; }
#topAlbums { color: rgb(0, 149, 255) !important; }
#topTracks { color: rgb(60, 255, 53) !important; }
#statistics { color: rgb(245, 53, 255) !important; }

#recent-tracks { 
  color: rgb(255, 148, 41) !important;
  box-shadow: 
    0px 4px 15px 0px rgba(255, 148, 41, 0.5), 
    0 0 15px 5px rgba(255, 148, 41, 0.8),
    0 0 20px 10px rgba(255, 148, 41, 0.6);
}

#top-artists { 
  color: rgb(252, 255, 58) !important; 
  box-shadow: 
    0px 4px 15px 0px rgba(252, 255, 58, 0.5), 
    0 0 15px 5px rgba(252, 255, 58, 0.8),
    0 0 20px 10px rgba(252, 255, 58, 0.6);
}

#top-albums { 
  color: rgb(0, 149, 255) !important; 
  box-shadow: 
    0px 4px 15px 0px rgba(0, 149, 255, 0.5), 
    0 0 15px 5px rgba(0, 149, 255, 0.8),
    0 0 20px 10px rgba(0, 149, 255, 0.6);
}

#top-tracks { 
  color: rgb(60, 255, 53) !important; 
  box-shadow: 
    0px 4px 15px 0px rgba(60, 255, 53, 0.5), 
    0 0 15px 5px rgba(60, 255, 53, 0.8),
    0 0 20px 10px rgba(60, 255, 53, 0.6);
}

#stats { 
  color: rgb(246, 83, 255) !important; 
  box-shadow: 
    0px 4px 15px 0px rgba(245, 53, 255, 0.5), 
    0 0 15px 5px rgba(245, 53, 255, 0.8),
    0 0 20px 10px rgba(245, 53, 255, 0.6);
}

.section {
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(0deg, #1a1a1a, #464646); /* Smooth gradient */
  color: white;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 80%;
  max-width: 800px;
  box-shadow: 
  0px 4px 15px 0px rgba(0, 0, 0, 0.5), 
  0 0 15px 5px rgba(255, 69, 0, 0.8),
  0 0 20px 10px rgba(255, 165, 0, 0.6);
}

.section:hover {
  transform: translateY(-10px) translateX(-5px);
  box-shadow: 
  0px 10px 20px rgba(0, 0, 0, 0.6),
  0 0 20px 8px rgba(255, 69, 0, 0.9),
  0 0 25px 12px rgba(255, 165, 0, 0.8),
  0 0 26px 13px rgba(255, 223, 0, 0.7); 
}

.current-song {
  max-width: 400px;
}

/* Headings */
.headings {
  background: rgba(0, 0, 0, 0.88);
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
}

/* Banners */
#banner {
  width: 100%;
  position: sticky;
  top: 0;
  height: 125px;
  background: radial-gradient(circle at 20% 30%, red, yellow 100%, blue 60%, red 90%);
  background-size: 200% 200%;
  animation: gradientShift 12s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Lists */
.two-columns {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.two-columns li {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

/* Footer */
footer {
  background: #242424;
}

footer p {
  margin: 0;
}

/* Images */
.current-song img, .recent-tracks img {
  border: 4px solid #ffffff;
  transition: transform 0.2s;
}

.current-song img:hover, .recent-tracks img:hover {
  transform: scale(1.1);
}

/* Recent Tracks */
.recent-tracks ul {
  list-style-type: none;
  padding: 0;
}

.recent-tracks li {
  margin: 10px 0;
}

.recent-tracks img {
  vertical-align: middle;
  margin-right: 10px;
}

/* Animations */
@keyframes pulse {
  0% {
    text-shadow: 
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6),
      0 0 30px rgba(255, 255, 255, 0.4);
  }
  50% {
    text-shadow: 
      0 0 15px rgba(255, 255, 255, 1),
      0 0 30px rgba(255, 255, 255, 0.8),
      0 0 45px rgba(255, 255, 255, 0.6);
  }
  100% {
    text-shadow: 
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6),
      0 0 30px rgba(255, 255, 255, 0.4);
  }
}

@keyframes pulseColor {
  0% {
    text-shadow: 
      0 0 2px currentColor,
      0 0 4px currentColor,
      0 0 1px currentColor;
  }
  50% {
    text-shadow: 
      0 0 3px currentColor,
      0 0 6px currentColor,
      0 0 3px currentColor;
  }
  100% {
    text-shadow: 
      0 0 2px currentColor,
      0 0 4px currentColor,
      0 0 1px currentColor;
  }
}

@keyframes gradientShift {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}
